/* Aufgabe 3.2
	Name:Nadine Limberger
	Matrikelnr.: 255346
	Datum: 30.03.2017
	Hiermit versichere ich, dass ich diesen Code selbst geschrieben habe. Er wurde nicht kopiert und auch nicht diktiert.*/
div {
	height: 200px;
	width: 150px;
	border: 2px solid black;
	text-align: center;
	padding-top: 30px;
	float: left;
}

#deck {
	color: black;
	background-color: #FFEFd5;
	margin-left: 0px;
	margin-top: 0px,
}

.Handkarten {
	background-color: #CD5C5C ;
	margin-left: 10px;
	margin-top: 300px;
}

#discard {
	background-color: #FFA07A;
	margin-left: 10px;
	margin-top: 0px;
}