/* Aufgabe 3.2
	Name:Nadine Limberger
	Matrikelnr.: 255346
	Datum: 30.03.2017
	Hiermit versichere ich, dass ich diesen Code selbst geschrieben habe. Er wurde nicht kopiert und auch nicht diktiert.*/


div {
	width: 150px;
	height: 200px;
	text-align: center;
	font-family: sans-serif;
	padding-top: 1em;
}

#stapel {
	float: left;
	position: absolute;
	top: 3em;
	left: 6em;
	background-color: #6E6E6E;
	border: 1px solid black;
	border-radius: 10px;
	color: white;
}

#ablage {
	float: right;
	position: absolute;
	top: 3em;
	right: 6em;
	background-color: #F78181;
	border: 1px solid black;
	border-radius: 10px;
}

.hand {
	flaot: left;
	clear: right;
	position: relative;
	display: inline;
	top: 20em;
	margin-left: 7em;
	font-weight: 700;
	color: #6E6E6E;
}

